@keyframes latidos {
  from {
    transform: none;
  }
  50% {
    transform: scale(0.9);
  }
  to {
    transform: none;
  }
}
/* En la clase corazon vamos a llamar latidos en la animación  */
.hearth {
  animation: latidos 4s infinite;
  transform-origin: center;
  width: 110px;
}

@keyframes girar {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.giro {
  transition: transform 0.3s ease-in-out;
}
/* Aplicar la animación de giro al hacer hover */
.giro:hover {
  animation: girar 1.6s 1;
}
