footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  margin-top: 50px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.list-logos ul {
  padding: 0px 60px;
  display: flex;
  list-style: none;
  gap: 50px;
}
.container-name {
  text-align: center;
  font-weight: 800;
}
